---
import Layout from '../layouts/Layout.astro';

import BootScreen from '../components/BootScreen.astro';
import Clock from '../components/Clock.astro';
import ContextMenu from '../components/ContextMenu.astro';
import DesktopItem from '../components/DesktopItem.astro';
import Window from '../components/Window.astro';

import About from '../components/Windows/About.astro';
import SimpleFinder from '../components/Windows/SimpleFinder.astro';
import Welcome from '../components/Windows/Welcome.astro';
import TextFile from '../components/Windows/TextFile.astro';
import Wallpapers from '../components/Windows/Wallpapers.astro';
import GetInfo from '../components/Windows/GetInfo.astro';

import '../styles/global.css';
---

<Layout background="">
	<BootScreen />
	<div class="toolBar-styled">
		<p>Christian Smith Mantas</p>
		<Clock />
	</div>
	<div class="desktop-styled">
		<div class="iconGrid-styled">
			<DesktopItem label="about me" type="image" icon="/profile-picture.webp" />
			<DesktopItem label="work experience" icon="/folder-icon.webp" />
			<DesktopItem label="side projects" icon="/folder-icon.webp" />
			<DesktopItem label="open foundation" icon="/folder-icon.webp" />
			<DesktopItem label="awesome playlist vol. 1" icon="/cd-icon.webp" />
		</div>
		<div class="window-manager">
			<Window title="about me">
				<About />
			</Window>
			<Window title="work experience" position={{x: 75, y: 70}}>
				<SimpleFinder files={[
					{ name: 'Engineer at LeoVegas', date: '2024 - Now' },
					{ name: 'Freelance Developer', date: '2019 - Now' },
					{ name: 'Engineer at The Workshop', date: '2023 - 2024' },
					{ name: 'Developer at Fathom3', date: '2022 - 2023' },
					{ name: 'Developer at CorzzoFit', date: '2021 - 2022' },
				]} />
			</Window>
			<Window title="side projects" position={{x: 95, y: 90}} >
				<SimpleFinder files={[
					{ name: 'Open Foundation Team', date: '2021 - Now' },
					{ name: 'The Framework Project', date: '2024 - Now' },
					{ name: 'React Stories', date: '2024' },
				]} />
			</Window>
			<Window title="open foundation" position={{x: 115, y: 110}}>
				<SimpleFinder files={[
					{ name: 'Open.FM', date: '2024' },
				]} />
			</Window>

			<Window title="welcome" position={{ centered: true }} isOpen isSecondary isSelected>
				<Welcome />
			</Window>
			
			<!-- Work experience -->
			<Window title="engineer at leovegas" position={{ centered: true }}>
				<TextFile data={{
					title: 'Engineer at LeoVegas',
					subtitle: '2024 - Now, M치laga, ES',
					content: '<p>Working on general Sportsbook development.</p>',
					link: 'https://leovegasgroup.com/'
				}} />
			</Window>
			<Window title="freelance developer" position={{ centered: true }}>
				<TextFile data={{
					title: 'Freelance Developer',
					subtitle: '2019 - Now, M치laga, ES / London, GB',
					content: '<p>Creation of apps, websites and custom technical solutions for various clients and businesses.</p><p>As well as participating in multiple hackathons, collaborating with teams to deliver high-quality software solutions.</p>',
				}} />
			</Window>
			<Window title="engineer at the workshop" position={{ centered: true }}>
				<TextFile data={{
					title: 'Engineer at The Workshop',
					subtitle: '2023 - 2024, M치laga, ES',
					content: '<p>Developing slot and card games as well as internal tooling.</p>',
					link: 'https://theworkshop.com/'
				}} />
			</Window>
			<Window title="developer at fathom3" position={{ centered: true }}>
				<TextFile data={{
					title: 'Daveloper at Fathom3',
					subtitle: '2022 - 2023, M치laga, ES',
					content: '<p>Worked on the development of an online store, CMS and CRM tooling.</p>',
					link: 'https://asafedigital.com/'
				}} />
			</Window>
			<Window title="developer at corzzofit" position={{ centered: true }}>
				<TextFile data={{
					title: 'Developer at CorzzoFit',
					subtitle: '2022 - 2023, Remote',
					content: '<p>Working as the lead frontend developer, creating websites and apps, designing product UX and an internal CRM.</p>',
					link: 'https://corzzofit.com/'
				}} />
			</Window>

			<!-- Side projects -->
			<Window title="open foundation team" position={{ centered: true }}>
				<TextFile data={{
					title: 'Open Foundation Team',
					subtitle: '2021 - Now',
					content: '<p>The Open Foundation project started as a collaboration with a colleague to help tech startups and entrepreneurs build and scale world-class products since 2021.</p><p>Since then it has become a plaground to create and build upon open source software ideas</p>',
					link: 'https://github.com/open-foundation-team'
				}} />
			</Window>
			<Window title="the framework project" position={{ centered: true }}>
				<TextFile data={{
					title: 'The Framework Project',
					subtitle: '2024 - Now',
					content: '<p>The Framework Project started as my personal new years resolution, to learn and benchmark the performance of different frontend frameworks.</p>',
					link: 'https://github.com/open-foundation-team'
				}} />
			</Window>
			<Window title="react stories" position={{ centered: true }}>
				<TextFile data={{
					title: 'React Stories Package',
					subtitle: '2024',
					content: '<p><code>react-stories</code> is an open source react packages that allows you to quickly and easily implement a Meta type story component into your projects.</p>',
					link: 'https://casm101.github.io/react-stories/'
				}} />
			</Window>

			<!-- Open foundation -->
			<Window title="open.fm" position={{ centered: true }}>
				<TextFile data={{
					title: 'Open FM',
					subtitle: '2024',
					content: "<p>Open.fm is the first open source project released by the Open Foundation team, it's a on online lo-fi music radio with curated copyright free playlists.It features a user-friendly interface and allows users to add ambient sounds for a relaxing experience.</p>",
					link: 'https://open-foundation-team.github.io/open-fm/'
				}} />
			</Window>

			<!-- Context Menu -->
			<ContextMenu />

			<Window title="get info" position={{ centered: true }} size={{ x: '250px', y: '0px'}} isSecondary>
				<GetInfo />
			</Window>
			<Window title="wallpapers" position={{ centered: true }}>
				<Wallpapers />
			</Window>
		</div>
	</div>
</Layout>

<style>
	.toolBar-styled {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 28px;
		width: 100%;
		padding: 0 14px;

		backdrop-filter: blur(40px) saturate(3);
		background: rgba(0, 0, 0, 0.5);
		color: #FFF;

    user-select: none;

		p {
			font-weight: 600;
		}
	}

	.desktop-styled {
		position: relative;
		flex: 1;
		padding: 24px 12px;
		height: 100%;
		
		.iconGrid-styled {
			display: grid;
			grid-template-columns: repeat(auto-fill, 124px);
			grid-template-rows: repeat(auto-fill, 108px);
			grid-auto-flow: column;
			column-gap: 16px;
			row-gap: 24px;
			direction: rtl;

			height: 100%;
			z-index: 20;

			pointer-events: none;
		}

		.window-manager {
			position: absolute;
			inset: 0;
			z-index: 1000;
			pointer-events: none;
			z-index: 30;
		}
	}

	@media screen and (max-width: 480px) {
		.desktop-styled {
			.iconGrid-styled {
				grid-template-columns: repeat(auto-fill, 108px);
        grid-template-rows: repeat(auto-fill, 84px);
        row-gap: 12px;
        column-gap: 8px;
			}
		}
	}
</style>

<script>
	import { getLocalStorageItem, setLocalStorageItem } from "../scripts/localStorage";

	let topZIndex = 1000;

	const onDesktopItemDblClick = (id: string) => {
		const window = document.querySelector(`[data-window-id="${id}"]`) as HTMLElement;
		if (window) {
			window.classList.remove('closed');
			window.classList.add('selected');
			window.style.zIndex = String(++topZIndex);
		};
	};

	const toggleFullscreen = () => {
		if (!document.fullscreen) {
			document.documentElement.requestFullscreen();
			return;
		}
		
		return document.exitFullscreen();
	};

	const handleContextMenuClick = (id: string) => {
		console.log('Got here with ID', id);
		if (id === 'fullscreen') toggleFullscreen();
		if (id === 'wallpapers') onDesktopItemDblClick('wallpapers');
		if (id === 'get-info') onDesktopItemDblClick('get-info');
	};

	const hideContextMenu = (menu: HTMLElement) => {
		menu.style.opacity = '0';
		menu.style.pointerEvents = 'none'
	};

	const changeWallpaper = (src: string) => {
		document.body.style.backgroundImage = `url(${src})`;
		setLocalStorageItem('wallpaper', src);
	};

	document.addEventListener('DOMContentLoaded', () => {
		const body = document.body;
		const storageWallpaper = getLocalStorageItem('wallpaper') ?? '/wallpaper-00.webp';
		body.style.backgroundImage = `url(${storageWallpaper})`;
	})

	document.addEventListener('mousedown', (event) => {
		const target = (event.target as Element);

		const desktopItem = target?.closest('[data-desktop-item]');
		const window = target?.closest('[data-window-id]') as HTMLElement;
		const finderFile = target?.closest('[data-file-id]');
		const wallpaperSelector = target?.closest('[data-wallpaper]');

		const contextmenu = document.querySelector('[data-context-menu]') as HTMLElement;

		document.querySelectorAll('[data-desktop-item]').forEach(item => item.classList.remove('selected'));
		document.querySelectorAll('[data-window-id]').forEach(item => item.classList.remove('selected'));
		document.querySelectorAll('[data-file-id]').forEach(item => item.classList.remove('selected'));
		hideContextMenu(contextmenu);		

		if (desktopItem) desktopItem.classList.add('selected');
		if (finderFile) finderFile.classList.add('selected');
		if (target === wallpaperSelector) changeWallpaper(wallpaperSelector.getAttribute('src') as string);
		if (target.getAttribute('data-context-id')) {
			handleContextMenuClick(target.getAttribute('data-context-id') as string);
		}
		if (window) {
			window.classList.add('selected');
			window.style.zIndex = String(++topZIndex);
		};
	});

	document.addEventListener('mouseup', (event) => {
		const target = (event.target as Element);
		const redTrafficLight = target?.closest('[data-light="red"]');
		const welcomeButton = target?.closest('[data-button-id="welcome-continue"]');
		const window = target?.closest('[data-window-id]');

		if ((redTrafficLight || welcomeButton) && window) {
			window.classList.add('closed');

			let openWindows: Element[] = [];
			let topWindow: HTMLElement | null = null;
			let highestZIndex = Number.NEGATIVE_INFINITY;

			Array.from(document.querySelectorAll('[data-window-id]')).forEach(element => {
				const win = element as HTMLElement
				if (!win.classList.contains('closed')) {
					openWindows.push(win);
					const zIndex = parseInt(win.style.zIndex, 10) || 0;
					if (zIndex > highestZIndex) {
						highestZIndex = zIndex;
						topWindow = win;
					};
				}
			});

			if (openWindows.length === 1) openWindows[0].classList.add('selected');
			if (topWindow) (topWindow as HTMLElement).classList.add('selected');
		}
	})

	document.addEventListener('dblclick', event => {
		const target = (event.target as Element);

		const desktop = target.closest('.desktop-styled');
		const finderFile = target?.closest('[data-file-id]');

		const desktopItem = (event.target as Element)?.closest('[data-desktop-item]');
		const itemId = desktopItem?.getAttribute('data-id');
		const fileId = finderFile?.getAttribute('data-file-id')

		if (target === desktop) toggleFullscreen();
		if (desktopItem) onDesktopItemDblClick(itemId as string);
		if (finderFile) onDesktopItemDblClick(fileId as string);
	});

	document.addEventListener('contextmenu', (event) => {
		const target = (event.target as Element);
		event.preventDefault();

		const desktop = target.closest('.desktop-styled');
		const contextmenu = document.querySelector('[data-context-menu]') as HTMLElement;
		const cursorPosition = `translate(${event.clientX + 5}px, ${event.clientY - 26}px)`;
		
		if (target !== desktop) hideContextMenu(contextmenu);
		if (target === desktop) {
			contextmenu.style.opacity = '1';
			contextmenu.style.pointerEvents = 'all';
			contextmenu.style.transform = cursorPosition;
		};
	});
</script>

<script src="../scripts/draggable.ts" />