---
import Layout from '../layouts/Layout.astro';
import Clock from '../components/Clock.astro';
import DesktopItem from '../components/DesktopItem.astro';
import Window from '../components/Window.astro';
import About from '../components/Windows/About.astro';

import '../styles/global.css';
import SimpleFinder from '../components/Windows/SimpleFinder.astro';
---

<Layout background="/wallpaper-01.webp">
	<div class="toolBar-styled">
		<p>Christian Smith Mantas</p>
		<Clock />
	</div>
	<div class="desktop-styled">
		<div class="iconGrid-styled">
			<DesktopItem label="about me" type="image" icon="/profile-picture.webp" />
			<DesktopItem label="work experience" icon="/folder-icon.webp" />
			<DesktopItem label="side projects" icon="/folder-icon.webp" />
			<DesktopItem label="open foundation" icon="/folder-icon.webp" />
			<DesktopItem label="tomorrowland 2025" icon="/cd-icon.webp" />
		</div>
		<div class="window-manager">
			<Window title="about me">
				<About />
			</Window>
			<Window title="work experience">
				<SimpleFinder files={[
					{ name: 'Engineer at LeoVegas', date: '2024 - Now' },
					{ name: 'Freelance Developer', date: '2019 - Now' },
					{ name: 'Engineer at The Workshop', date: '2023 - 2024' },
					{ name: 'Engineer at Fathom3', date: '2022 - 2023' },
					{ name: 'Developer at CorzzoFit', date: '2021 - 2022' },
				]} />
			</Window>
			<Window title="side projects">
				<SimpleFinder files={[
					{ name: 'Open Foundation', date: '2023 - Now' },
					{ name: 'The Framework Project', date: '2024 - Now' },
					{ name: 'React Stories', date: '2024' },
				]} />
			</Window>
			<Window title="open foundation">
				<SimpleFinder files={[
					{ name: 'Open.FM', date: '2024' },
				]} />
			</Window>
		</div>
	</div>
</Layout>

<style>
	.toolBar-styled {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 28px;
		width: 100%;
		padding: 0 14px;

		backdrop-filter: blur(40px) saturate(3);
		background: rgba(0, 0, 0, 0.5);
		color: #FFF;

    user-select: none;

		p {
			font-weight: 600;
		}
	}

	.desktop-styled {
		position: relative;
		flex: 1;
		padding: 24px 12px;
		height: 100%;
		
		.iconGrid-styled {
			display: grid;
			grid-template-columns: repeat(auto-fill, 124px);
			grid-template-rows: repeat(auto-fill, 108px);
			grid-auto-flow: column;
			column-gap: 16px;
			row-gap: 24px;
			direction: rtl;

			height: 100%;
			z-index: 20;

			pointer-events: none;
		}

		.window-manager {
			position: absolute;
			inset: 0;
			z-index: 1000;
			pointer-events: none;
			z-index: 30;
		}
	}

	@media screen and (max-width: 480px) {
		.desktop-styled {
			.iconGrid-styled {
				grid-template-columns: repeat(auto-fill, 108px);
        grid-template-rows: repeat(auto-fill, 84px);
        row-gap: 12px;
        column-gap: 8px;
			}
		}
	}
</style>

<script>
	const onDesktopItemDblClick = (id: string) => {
		const window = document.querySelector(`[data-window-id="${id}"]`);
		if (window) {
			window.classList.remove('closed')
			window.classList.add('selected')
		};
	};

	const toggleFullscreen = () => {
		if (!document.fullscreen) return document.documentElement.requestFullscreen();
		return document.exitFullscreen();
	};

	document.addEventListener('mousedown', (event) => {
		const target = (event.target as Element);

		const desktopItem = target?.closest('[data-desktop-item]');
		const window = target?.closest('[data-window-id]');
		const finderFile = target?.closest('[data-file-id]');

		document.querySelectorAll('[data-desktop-item]').forEach(item => item.classList.remove('selected'));
		document.querySelectorAll('[data-window-id]').forEach(item => item.classList.remove('selected'));
		document.querySelectorAll('[data-file-id]').forEach(item => item.classList.remove('selected'));

		if (desktopItem) desktopItem.classList.add('selected');
		if (window) window.classList.add('selected');
		if (finderFile) finderFile.classList.add('selected');
	});

	document.addEventListener('mouseup', (event) => {
		const target = (event.target as Element);
		const redTrafficLight = target?.closest('[data-light="red"]');
		const window = target?.closest('[data-window-id]');

		if (redTrafficLight && window) window.classList.add('closed');
	})

	document.addEventListener('dblclick', event => {
		const target = (event.target as Element);

		const desktop = target.closest('.desktop-styled');

		const desktopItem = (event.target as Element)?.closest('[data-desktop-item]');
		const itemId = desktopItem?.getAttribute('data-id');
		desktopItem && onDesktopItemDblClick(itemId as string);

		if (target === desktop) toggleFullscreen();
	});
</script>

<script src="../scripts/draggable.ts" />