---
interface Props {
	background: string;
}

const { background } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8" />
		<title>Christian Smith Mantas</title>
	</head>
	<body style={`background-image: url(${background});`}>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		
		height: 100dvh;
		width: 100dvw;
		min-width: 375px;

		background-position: center;
		background-size: cover;
		background-color: #000;
		
		transition: background-color, background-image .5s;;
		overflow: hidden;
	}
</style>
